[Unit]
Description=Testerization application
After=network.target

[Service]
User={{ service_user }}
WorkingDirectory={{ app_dest_folder }}/www
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/env bash -c '/usr/bin/java -jar ./testerization.jar'
SuccessExitStatus=143
Type=simple
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target